<html lang="en">
      <%- include('../partials/head')%>
<body>
      <h2><%= productToEdit.name%></h2>
      <form action="/products?_method=PUT" method="POST">
            <div class="p-10px">
                  <label for="">Nombre</label>
                  <input type="text" name="name" value="<%= productToEdit.name%>">
            </div>
            <div class="p-10px">
                  <label for="">Categoria</label>
                  <input type="text" name="category" value="<%= productToEdit.category%>">
            </div>
            <div class="p-10px">
                  <label for="">Precio</label>
                  <input type="text" name="price" value="<%= productToEdit.price%>">
            </div>
            
            <div>
                  <button>Editar </button>
            </div>
      </form>
      <div>
            <a href="/products/<%= idProduct%>">Volver al producto <%= idProduct%></a>
      </div>
</body>
</html>